---
interface CardProps {
  title: string;
  description?: string;
  imageUrl?: string;
  href?: string;
  className?: string;
}

const { title, description, imageUrl, href, className } = Astro.props as CardProps;

const contentClass = "flex flex-col wrap max-h-96";
const imageClass = "h-48 w-96 object-cover rounded-lg border";
const titleClass = "text-2xl font-bold pb-2";
const descriptionClass = "text-base truncate text-wrap";
---

<div class={`rounded-lg border border-accent p-4 shadow max-w-96 ${className || ""}`}>
  {
    href ? (
      <a href={href} class={contentClass}>
        <img src={imageUrl} alt={title} class={imageClass} />
        <h3 set:html={title} class={titleClass} />
        <p set:html={description} class={descriptionClass} />
      </a>
    ) : (
      <div class={contentClass}>
        <img src={imageUrl} alt={title} class={imageClass} />
        <h3 set:html={title} class={titleClass} />
        <p set:html={description} class={descriptionClass} />
      </div>
    )
  }
</div>
